/*以下为基本样式的重写*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 62.5%;
    font-family:"微软雅黑 Light";
}
/*定义了火星人项目字体尺寸基准*/

body {
    margin: 0;
    padding: 0;
}

/*定义了火星人项目默认字体和字号*/

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    border: 0;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
    font-weight: normal;
}

address, cite, code, em, th {
    font-weight: normal;
    font-style: normal;
}

a {
    color: #19ADB9;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*以下为火星人项目css通用样式框架*/

/*改变字体色为主题色*/
.themeColor {
    color: #19ADB9;
}

/*改变背景色为主题色*/
.themeColor-bg {
    background-color: #19ADB9;
}

.bar.themeColor-bg {
    background-color: #19ADB9;
}
.themeColor-bg .button {
    border-color: #19ADB9;
    background-color: #19ADB9;
    color: #fff;
}

.themeColor-bg>.tab-nav.tabs{
    border-color: #19ADB9;
    background-color: #19ADB9;
}
/*用于顶部导航栏，内置了两端对齐的弹性布局和导航栏高度*/
.header-bar {
    color: #FFFFFF;
    height: 5.5rem;
    display: flex;
    display: -webkit-box; /*兼容09年弹性布局方法*/
    justify-content: space-between;
    -webkit-box-pack: justify; /*兼容09年弹性布局方法*/
    box-sizing: border-box;
    font-family: "微软雅黑 Light";
    font-size: 2rem;
}

/*如需给导航栏添加标准的内边距，可同时加上这两个class*/
.header-bar.padding {
    padding: 1.8rem 1.5rem 0 1.5rem;
}

/*定义了通用包裹div，内置边距*/
.wrapper {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}

/*以下是火星人项目常用字号*/

.f40 {
    font-size: 2rem;
}

.f34 {
    font-size: 1.7rem;
}

.f32 {
    font-size: 1.6rem;
}

.f30 {
    font-size: 1.5rem;
}

.f28 {
    font-size: 1.4rem;
}

.f26 {
    font-size: 1.3rem;
}

.f24 {
    font-size: 1.2rem;
}

.f20 {
    font-size: 1rem;
}

/*快捷实现加粗*/
.fB {
    font-weight: bold;
}

/*快捷实现左右浮动及清浮动*/
.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    content: "";
    clear: both;
}
@media screen and (min-width: 760px){
    a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
        font-size: 100%;
    }
}
@media screen and (min-width: 400px) and (max-width: 759px) {
    a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
        font-size: 12px;
    }
}


/*引入了项目字体*/

@font-face {
    font-family: "themeFont";
    src: url("fonts/hiraginosansgbw3.ttf") format('truetype') ;
}

@font-face {
    font-family: "themeFontBold";
    src: url("fonts/hiraginosansgbw6.ttf") format('truetype') ;
}
