<ion-view>
    <ion-content class="animated fadeIn myLogin"  overflow-scroll="true" style="overflow: hidden">
        <div class="login_cover">
            <div class="logo"><img src="images/mars_logo.png"/></div>
            <form class="list login_form" autocomplete="off">
                <div class="item item-input-inset dw_name">
                    <label class="item-input dw_login">
                        <img src="images/login_un.png"/>
                        <input type="text" placeholder="用户名" ng-model="user.mobile" autocomplete="off"/>
                    </label>
                </div>
                <div class="item item-input-inset  dw_bd ">
                    <label class="item-input dw_password">
                        <img src="images/login_pw.png">
                        <input type="password" placeholder="密码" ng-model="user.pwd" autocomplete="off"/>
                    </label>
                </div>
                <div class="item dw_dl">
                    <div class="button button-full dw_btn" ng-click="login()">登录</div>
                    <span>忘记密码?</span>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>