<ion-view class="animated fadeIn">
    <div class="content_wrapper_vertical">
        <ion-tabs class="tabs-top tabs-dark themeColor-bg">
            <ion-tab title="CGTop" ui-sref="tabs.community.cgTop">
                <ion-nav-view name="community_cgTop"></ion-nav-view>
            </ion-tab>
            <ion-tab title="活动通知" ui-sref="tabs.community.activity" class="css3ff688a4562bd">
                <ion-nav-view name="community_activity"></ion-nav-view>
            </ion-tab>
            <ion-tab title="校园通知" ui-sref="tabs.community.campus" class="css3ff688a4562bd">
                <ion-nav-view name="community_campus"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </div>
</ion-view>