<ion-view class="animated bounceInUp">
    <ion-slide-box>
        <ion-slide>
            <div style="background-color: cadetblue;height:100%;width:100%">asdsadasdasd</div>
        </ion-slide>
        <ion-slide>
            <div style="background-color: coral;height:100%;width:100%">asdadsa
            <div class="icon-home" style="width: 100px;height: 100px;"></div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="background-color: orchid;height:100%;width:100%">asdasdasda</div>
        </ion-slide>
    </ion-slide-box>
</ion-view>