<ion-view>
    <div>
        <ion-tabs class="tabs-icon-top " id="mainTabs">
            <ion-tab class="css3ff688a4562bd f40" ui-sref="tabs.home" icon-on="icon-home_active" icon-off="icon-home">
                <ion-nav-view name="tabs_home"></ion-nav-view>
            </ion-tab>
            <ion-tab class="css3ff688a4562bd f40 fB" ui-sref="tabs.helper" icon-on="icon-helper_active" icon-off="icon-helper">
                <ion-nav-view name="tabs_helper"></ion-nav-view>
            </ion-tab>
            <ion-tab class="css3ff688a4562bd f40 fB"  ui-sref="tabs.community.cgTop" icon-on="icon-community_active" icon-off="icon-community">
                <ion-nav-view name="tabs_community">
                </ion-nav-view>
            </ion-tab>
            <!--<ion-tab title="社区DEMO" ui-sref="tabs.demo" icon="ion-ios-browsers">
                <ion-nav-view name="tabs_demo">
                </ion-nav-view>
            </ion-tab>-->
        </ion-tabs>
    </div>
</ion-view>