<ion-view class="animated bounceInRight ">
<!--    <ion-nav-bar class="bar-dark themeColor-bg">
        <ion-nav-back-button>
            <i class="icon ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>-->
    <ion-content class="myShare">
        <div ng-click="go_back()" class="share_back_btn">
            <i class="icon ion-ios-arrow-back bh-backicon"></i>
        </div>
        <div class="bh-head">
            <h1 class="bh-name">李雷</h1>
            <h2 class="bh-second f32">在移动平台图标设计课中</h2>
            <h3 class="bh-third f32">击败了<span>95<i class="i-in-span">%</i></span>的同学</h3>
        </div>
        <div class="bh-footer">
            <div class="bh-footer-left f34" ng-click="share()">
                <img src="images/mark-footer-share.png">
                <p>分享</p>
            </div>
            <div class="bh-footer-right f34" ng-click="save()">
                <img src="images/mark-footer-save.png">
                <p>保存</p>
            </div>
        </div>
    </ion-content>
</ion-view>
